/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* VERIABLES */

:root {
    --basic-white: #fff;
    --gray-lighter: #eee;
    --light-gray: #C1C1C1;
    --dark-gray: #A6A6A6;
    --gray: #666666;
    --gray-darker: #444444;
    --dark-black: #283136;
    --basic-black: #000;
    --tomato: #FB565A;
    --green: #00CA74;
    --yellow: #EFC849;
}

/* GLOBAL */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page__body {
    min-width: 960px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    background-color: var(--basic-white);
}

/* CONTAINER */

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

/* LOGO */

.page-header__logo {
    align-self: flex-end;
}

.page-header__logo:active path {
    fill: #A6A6A6;
}

/* PAGE-HEADER */

.page-header {
    background-color: var(--gray-lighter);
}

/* MAIN-NAV */

.main-nav {
    height: 50px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav__list {
    width: 438px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 245px;
}

.main-nav__wrapper {
    display: flex;
}

.site-list__cart {
    position: relative;
    width: 115px;
}

.site-list__cart::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -36px;
    background-image: url("../img/cart-icon.svg");
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.site-list__item {
    position: relative;
}

.site-list__item:hover a,
.site-list__cart:hover a {
    color: var(--tomato);
}

.site-list__item:active a,
.site-list__cart:active a {
    opacity: 0.3;
}

.site-list__item a,
.site-list__cart a {
    color: var(--basic-black);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.site-list__item--active::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--tomato);
}

.page-header__item {
    display: flex;
}

.page-header__item--second {
    display: none;
}

.page-header__item--third {
    display: none;
}

/* SLIDER */

.slider__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-item__wrapper {
    margin-top: 30px;
    width: 397px;
    padding-right: 0 10px;
}

.slider__title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider__text {
    color: var(--dark-black);
    margin-bottom: 38px;
}

/* BUTTON */

.button {
    font: inherit;
    border: none;
    color: var(--basic-white);
    text-transform: uppercase;
    width: 240px;
    height: 50px;
    background-color: var(--tomato);
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #E74246;
}

.button:active {
    background-color: #D7373B;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: var(--basic-white);
}

.opacity-button:active {
    opacity: 0.3;
}

/* SLIDER-TOGGLES */

.slider-item__button-wrapper {
    position: relative;
}

.page-header__toggles {
    position: absolute;
    top: 0;
    right: -226px;
}

.slider__toggles {
    width: 88px;
    display: flex;
    justify-content: space-between;
}

.slider__toggle {
    position: relative;
    border: none;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
}

.slider__toggle--current::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 3px;
    left: 3px;
    border: 2px solid var(--light-gray);
    border-radius: 50%;
}

.page-main {
    position: relative;
    margin-top: 80px;
}

/* FEATURES */

.features {
    margin-bottom: 121px;
}

.features::after {
    content: "";
    position: absolute;
    top: 425px;
    left: 0;
    width: 1158px;
    height: 2px;
    background-color: var(--gray-lighter);
}

.features__list {
    display: flex;
    justify-content: start;

    list-style: none;
    padding: 0;
    margin: 0;
}

.features__item {
    width: 300px;
    margin-right: 100px;
}

.feature__title {
    text-transform: uppercase;
}

.feature__text {
    margin-bottom: 32px;
}

/* FEATURE__BUTTON */

.feature__button {
    width: 160px;
    height: 50px;
}

.feature__button--2 {
    background-color: var(--green);
}

.feature__button--2:hover {
    background-color: #00BC6C;
}

.feature__button--2:active {
    background-color: #00AA62;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.feature__button--3 {
    background-color:  var(--yellow);
}

.feature__button--3:hover {
    background-color: #EAB534;
}

.feature__button--3:active {
    background-color: #E5A722;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* INFO */

.info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.info::after {
    content: "";
    position: absolute;
    top: 532px;
    left: 0;
    width: 1158px;
    height: 2px;
    background-color: var(--gray-lighter);
}

.info__info-section {
    width: 650px;
}

.info-section__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
}

.info-section__text {
    color: var(--dark-black);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.info-section__list-title {
    font-weight: 700;
    color: var(--dark-black);
    margin-bottom: 23px;
    text-transform: uppercase;
}

.info-section__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-section__item {
    position: relative;
    color: var(--dark-black);
    margin-left: 35px;
    margin-bottom: 30px;
}

.info-section__item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    left: -35px;
    top: 10px;
    background-color: var(--tomato);
}

.info__stats {
    width: 360px;
}

.stats-section__title {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 37px;
    margin-bottom: 31px;
}

.stats-section__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.stats-section__item {
    width: 98px;
}

.stats-section__number {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}

.stats-section__wrapper {
    display: flex;
}

.stats-section__percent {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 3px;
}

.stats-section__text {
    font-size: 16px;
    line-height: 18px;
    color: var(--dark-black);
}

/* LOGOS */

.logo {
    position: relative;
    margin-bottom: 126px;
}

.logo::after {
    content: "";
    position: absolute;
    top: 130px;
    left: 0;
    width: 1158px;
    height: 2px;
    background-color: var(--gray-lighter);
}

.logo__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    height: 90px;
}

.logo__item a {
    opacity: 0.2;
}

.logo__item::after {
    content: "";
    position: absolute;
    top: 16px;
    right: -42px;
    width: 3px;
    height: 52px;
    background-color: var(--gray-lighter);
}

.logo__item:last-child::after {
    display: none;
}

.logo__item a:hover {
    opacity: 1;
}

.logo__item a:active {
    opacity: 0.1;
}

/* MAP */

.map {
    position: relative;
    margin-bottom: 68px;
}

.map__contacts {

}

.contacts {
    position: absolute;
    padding: 50px;
    top: 54px;
    left: 380px;
    width: 319px;
    height: 308px;
    background-color: var(--basic-white);
    box-sizing: border-box;
}

.contacts__title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 23px;
}

.contacts__adress {
    margin: 0;
    line-height: 18px;
    color: var(--gray);
    margin-bottom: 20px;
}

.contacts__tel {
    margin: 0;
    line-height: 18px;
    color: var(--gray);
    margin-bottom: 37px;
}

.contacts__button {
    width: 219px;
}

/* PAGE-FOOTER */

.page-footer {
    margin-bottom: 68px;
}

.footer {
    display: flex;
}

.footer__social {
    margin-right: 139px;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 261px;

    display: flex;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 81px;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    border-radius: 50%;
}

.footer__item:hover {
    background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
    cursor: pointer;
}

.footer__item:active {
    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);   
}

.footer-sale h3 {
    
}

.footer-sale__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}

.footer-sale__text {
    color: var(--gray-darker);
    line-height: 22px;
    margin: 0;
}

/* MODAL */

.page-modal {

}

.modal {
    display: none;
    width: 960px;
    height: 590px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    padding: 63px 100px;
    box-sizing: border-box;
}

.modal__title {
    margin: 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    margin-bottom: 37px;
}

.modal__form {
    width: 761px;
}

.modal__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}

.modal__item {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.modal__item label {
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 9px;
}

.modal__item input {
    width: 360px;
    height: 50px;
    border: 2px solid #D7DCDE;
    border-radius: 3px;
    padding: 16px;
    box-sizing: border-box;
    color: var(--gray-darker);
    opacity: 0.3;
}

.modal__item:hover input,
.modal__item:hover textarea {
    opacity: 1;
}

.modal__item:focus input,
.modal__item:focus textarea {
    color: var(--basic-black);
}

.modal__item textarea {
    border: 2px solid #D7DCDE;
    border-radius: 3px;
    padding: 16px;
    box-sizing: border-box;
    color: var(--gray-darker);
    margin-bottom: 47px;
    opacity: 0.3;
}

.modal__button {
    width: 259px;
}

.modal__close {
    border: none;
    outline: none;
}

.modal__close::after {
    content: "";
    position: absolute;
    top: 83px;
    right: 93px;
    width: 21px;
    height: 21px;
    background-image: url("../img/close-cross.svg");
    cursor: pointer;
    opacity: 0.3;
}

.modal__close:hover::after {
    opacity: 1;
}

/* CATALOG */

.page-header__title {
    margin: 0;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 108px;
}

/* MAIN */

.main {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 140px;
}

/* FILTER */

.main__filter {
    margin-top: 55px;
}

.filter__item {
    margin: 0;
    padding: 0;
    border: none;
}

.filter__range {
    width: 260px;
    margin-top: 48px;
}

.filter__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter__range-controls {
    position: relative;
    background-color: var(--gray-lighter);
    height: 41px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.filter__scale {
    height: 2px;
    background-color: #dcd7df;
}

.filter__bar {
    width: 70%;
    height: 2px;
    background-color: #00ca74;
}

.filter__toggles {
    position: absolute;
    left: 0;
    top: 30px;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #fff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.toggle-min {
    left: 18px;
}

.toggle-max {
    left: 160px;
}

.filter__price-controls {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.filter__price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--dark-black);
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
}

/* GRID-CHOOSE */

.filter__grid-choose {
    margin-top: 54px;
}
.grid-choose {

}
.grid-choose__field {
    margin: 0;
    padding: 0;
    border: none;
}
.grid-choose__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.grid-choose__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 43px;
    margin-left: 40px;
}
.grid-choose__item {
    line-height: 18px;
    margin-bottom: 25px;
}

.grid-choose__input-radio + label::before {
    content: "";
    position: absolute;
    left: -39px;
    top: -6px;
    width: 20px;
    height: 20px;
    border: 4px solid #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
}
.grid-choose__input-radio:checked + label::after {
    content: "";
    position: absolute;
    left: -29px;
    top: 4px;
    width: 9px;
    height: 9px;
    background-color: #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
}
.grid-choose__label {
    position: relative;
    line-height: 19px;
    color: var(--dark-black);
}

/* SPECIALS */

.filter__specials {
    margin-bottom: 50px;
}
.specials {

}
.specials__field {
    margin: 0;
    padding: 0;
    border: none;
}
.specials__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.specials__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 40px;
}
.specials__item {
    margin-bottom: 25px;
}
.specials__input-checkbox + label::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -39px;
    width: 23px;
    height: 23px;
    border: 3px solid #4d4d4d;
    border-radius: 3px;
    opacity: 0.4;
    cursor: pointer;
}

.specials__input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -29px;
    background-image: url("../img/check.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 22px;
    height: 17px;
    opacity: 0.4;
}

.specials__label {
    position: relative;
    color: var(--dark-black);
    line-height: 19px;
}

.filter-button {
    width: 100%;
    background-color: var(--gray-lighter);
    color: var(--basic-black);
    font-weight: 500;
    line-height: 18px;
}

/* SORT */

.main__content {
    margin-top: 55px;
}
.content {
    
}
.content__sort {

}
.sort {
    display: grid;
    grid-template-columns: 360px 1fr;
    grid-gap: 41px;
}
.sort__title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.sort__to {
    width: 359px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort__to-price {
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.sort__to-type {
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.3;
}
.sort__to-name {
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 37px;
    cursor: pointer;
    opacity: 0.3;
}
.sort__toggles {
    
}
.sort__toggles-down {
    background-image: url("../img/icon-down.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    border: none;
    width: 11px;
    height: 10px;
    margin-right: 18px;
    cursor: pointer;
    opacity: 0.2;
}
.sort__toggles-up {
    background-image: url("../img/icon-up.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    border: none;
    width: 11px;
    height: 10px;
    cursor: pointer;
    opacity: 0.2;
}

/* EXAMPLES */

.main__examples {
    margin-top: 48px;
}

.examples {

}

.examples__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.examples__item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.examples__item:hover {
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.examples__calendar {
    position: relative;
    width: 360px;
    height: 40px;
    background-color: #4d4d4d;
    opacity: 0.1;
}

.examples__image {

}

.examples__description {
    width: 360px;
    height: 231px;
    background-color: var(--gray-lighter);
    bottom: 0;
    left: 0; 
    position: absolute;
    text-align: center;
}

.examples__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding-top: 26px;
    padding-bottom: 12px;
    text-transform: uppercase;
}
.examples__text {
    margin: 0;
    padding: 0;
    color: var(--gray);
    line-height: 18px;
    padding-bottom: 32px;
}
.examples__button {
    width: 200px;
}

.main__pagination {
    margin-top: 55px;
    margin-bottom: 60px;
    
}
.pagination {
    width: 443px;
    height: 50px;
}
.pagination__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination__item {
    width: 50px;
    height: 50px;
    background-color: var(--gray-lighter);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
}
.pagination__item--current {
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.0001);
    border: 3px solid #DBDBDB;
}
.pagination__item--next {
    width: 260px;
}